
/*common shared style*/
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.text-color {
     color:#FD6E0A; 
}

.shared-btn {
      padding: 10px 15px;
      border: 0;
      border-radius: 8px;
      background-color: #FD6E0A;
      color: white;
      font-size: 15px;
      font-weight: 500;
}
/*nav style section */


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF8F3;
    margin: 0px 100px 0px 200px ;
    

}

nav h2 {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

nav > ul {
     display: flex;
     align-items: center;
}

nav ul li {
     list-style: none;
     margin-right: 50px;
}
nav ul li a {
      text-decoration: none;
      color: #474747;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
}

/*header style */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    
}

.banner {
     padding: 30px 30px 0px 200px;
     display: flex;
     align-items: center;
     justify-content: space-between;

}

.banner img {
    width: 500px;
    height: 550px;
    padding-right: 50px;
    
}

.banner .img2 {
     width: 100px;
     height: 95%;
     position: absolute;
     left: 4%;
     top: 2%;
}

.banner-content h2 {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 0px;
}

.banner-content h1 {
      font-size: 45px;
      margin-top: 12px;
      margin-bottom: 0px;
}

.banner-content p {
    max-width: 585px;
    margin-top: 9px;
    margin-bottom: 16px;
}

/* main style here*/

main {
    max-width: 1140px;
    margin: 0px auto;
}

/* about styles*/
.about {
     text-align: center;
     background-color:#FFF8F3; 
     padding: 131px;
     margin: 130px 0px;
     border-radius: 20px;
}

.about .description {
      max-width: 800px;
      margin:  0px auto;

}

div .info {
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-top: 20px;
}

.info-title {
    margin-bottom: 0px;
      
}
.info-description {
     margin-top: 2px;
}

.what-i-do {
     text-align: center;
     margin-bottom: 30px;
}

.what-i-do h2 {
     text-transform: capitalize;
     font-size: 30px;
}

.what-i-do p {
      max-width: 800px;
      margin: 0px auto;
}
.skills {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.skills-item {
    width: 267px;
    height: 250px;
    background-color: #FFF8F3;
    margin: 20px;
    padding: 20px  ;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(102, 102, 102);
}

.skills-item p {
     text-align: justify;
}
